.prof_about {
    display: grid;
    grid-template-areas: "about_img about_info";
    grid-template-rows: 300px;
    grid-template-columns: 300px 1fr;
    grid-gap: 20px;
    margin: 0 auto;
}

.prof_about_img {
    grid-area: about_img;
    position: relative;
}

.prof_about_img img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.prof_about_info {
    grid-area: about_info;
    /*background-color: black;*/
    font-weight: bold;
}

.block_about {
    display: flex;
    justify-content: space-between;
}

.prof_about_info i {
    font-weight: normal;
}

.info_full_name {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.info_date_of_birth {

}

.about_lvl {
    margin-top: 10px;
}

.about_country {
    margin-top: 10px;
}

.about_my_lessons, .about_me {
    margin-top: 20px;
}

.about_me div {
    margin-top: 10px;
}

.edit_profile {
    /*background-color: red;*/
}

.edit_profile button {
    margin-left: 50%;
    transform: translate(-50%, 0);
}