body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

button {
  background-color: #ffd800;
  outline: none;
  border: none;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 7px 32px;
  color: #916a00;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  color: #371b00;
  background-color: #f0c900;
  border-radius: 10px;
}

button:active {
  background-color: rgba(255,216,0,0.51);
}